name: Create Release

on:
  pull_request_target:
    types: [closed]

jobs:
  create-release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            arch: x64
          - os: windows-latest
            arch: arm64
          - os: ubuntu-latest
            arch: x64
          - os: ubuntu-latest
            arch: arm64
          - os: macos-latest
            arch: arm64
    runs-on: ${{ matrix.os }}
    if: github.event.pull_request.merged && (contains(github.event.pull_request.labels.*.name, 'major') || contains(github.event.pull_request.labels.*.name, 'minor') || contains(github.event.pull_request.labels.*.name, 'patch'))
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set node version
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install modules
        run: npm install
      - name: Tag
        id: set_tag
        uses: K-Phoen/semver-release-action@v1.3.2
        with:
          release_branch: main
          release_strategy: tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Save version into file
        run: echo "export const APP_VERSION = '${{ steps.set_tag.outputs.tag }}';" > ./src/version.ts
      - name: Build app
        run: |
          npm run build
      - name: Linting
        run: |
          npm run lint
      - name: Coverage
        run: |
          npm run coverage
      - name: Set platform name
        shell: bash
        run: |
          case "${{ runner.os }}" in
            Windows) echo "PLATFORM=win" >> $GITHUB_ENV ;;
            Linux)   echo "PLATFORM=linux" >> $GITHUB_ENV ;;
            macOS)   echo "PLATFORM=macos" >> $GITHUB_ENV ;;
          esac
      - name: Compress build
        uses: a7ul/tar-action@v1.1.3
        id: compress
        with:
          command: c
          cwd: ./
          files: |
            ./dist
            ./node_modules
            ./resources
          outPath: dist-${{ env.PLATFORM }}-${{ matrix.arch }}.tar.gz
      - name: Create Release Notes File
        env:
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        run: |
          echo "$COMMIT_MESSAGE" > ./release_notes.txt
      - name: Create release
        uses: ncipollo/release-action@v1
        env:
          TAG: ${{ steps.set_tag.outputs.tag }}
        with:
          tag: ${{ steps.set_tag.outputs.tag }}
          bodyFile: './release_notes.txt'
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: "dist-*.tar.gz"
