name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-13, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            platform: linux-x64
          - os: macos-15-intel
            platform: macos-x64
          - os: macos-latest
            platform: macos-arm64
          - os: windows-latest
            platform: windows-x64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set node version
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
      - name: Install modules
        run: npm install
      - name: Linting
        run: |
          npm run lint
      - name: Coverage
        run: |
          npm run coverage
