name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        node-version: [22.x, 24.x]
        combo:
          - runs-on: ubuntu-latest
            platform: linux-x64
          - runs-on: macos-15-intel
            platform: macos-x64
          - runs-on: macos-latest
            platform: macos-arm64
          - runs-on: windows-latest
            platform: windows-x64

    runs-on: ${{ matrix.combo.runs-on }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install modules
        run: npm install
      - name: Linting
        run: |
          npm run lint
      - name: Coverage
        run: |
          npm run coverage
