name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 22.x, 24.x]
        combo:
          - runs-on: ubuntu-24.04-arm
            platform: linux-arm64
          - runs-on: ubuntu-latest
            platform: linux-x64
          - runs-on: macos-15-intel
            platform: macos-x64
          - runs-on: macos-latest
            platform: macos-arm64
          - runs-on: windows-latest
            platform: windows-x64

    runs-on: ${{ matrix.combo.runs-on }}

    name: Test NodeJS ${{ matrix.node-version }} on ${{ matrix.combo.platform }}

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Print Node.js version
        run: node --version
      # Needed to make the test load by gyp during npm install of the prebuild binding work
      - name: Setup Virtual ALSA Device
        if: runner.os == 'Linux'
        run: |
          cat <<EOF > ~/.asoundrc
          pcm.!default {
              type null
          }
          ctl.!default {
              type hw
              card 0
          }
          EOF
          # Optional: Install alsa-utils to verify the configuration
          sudo apt-get update && sudo apt-get install -y alsa-utils
          aplay -L | grep default
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install modules
        run: npm install
      - name: Linting
        run: |
          npm run lint
      - name: Coverage
        run: |
          npm run coverage
