name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set node version
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
#      - name: Install ALSA libraries
#        run: sudo apt-get install -y libasound2 || sudo apt-get install -y libasound2t64
      - name: Install modules
        run: npm install
      - name: Linting
        run: |
          npm run lint
      - name: Coverage
        run: |
          npm run coverage
